footer{
    padding-block: 4em;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    background-color: rgba(3, 23, 59, 0.9);
    color:antiquewhite;
    border-top: 1px solid antiquewhite;
};

footer section{
    flex:33%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

footer section ul{
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
}

.social-icon{
    width:1.2em;
    height: 1.2em;
}

footer a, footer a p{
    color:antiquewhite;
    font-size: 1.2em;
}

.social-links li a{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 0.8em;
}

.social-links li a p{
    color:antiquewhite;
    font-size: 1em;
}

footer h4{
    text-align: center;
    padding-bottom: 0.9em;
}

.site-map-links{
    align-items: center;
}

.after-div{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 2px;
    border-radius: 1px;
    background-color: transparent;
    margin-block: 2.6em;
   
}

.after-div p{
    width:30px;
    background-color:antiquewhite;
}

.license{
    background-color: rgb(3, 23, 59);
    color:antiquewhite;
    font-size: 1em;
    padding-left: 4vw;
}

@media (max-width:500px){
    footer{
        padding-block: 2em;
        display:flex;
        flex-direction: column;
        flex-wrap:nowrap;
        align-items: center;
        background-color: rgba(3, 23, 59, 0.9);
        color:antiquewhite;
        border-top: 1px solid antiquewhite;
    };

    .task-bar {
        z-index: 1;
        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 1em;
       
       
    }

    .logo-container{
        height:40px;
        width:40px;
    }

    .menu-button{
        width:fit-content;
    }
}

