.form-text-section{
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-bottom: 3vw;
    margin-top: 3vw;

}

.form-text-section h4{
    padding-bottom: 1vw;
    color:rgb(22, 44, 3);
}

.login-register-ul{
    max-width: fit-content;
    padding-bottom: 3vw;
    margin:0 auto;
    list-style: circle;
    color:rgb(22, 44, 3);
    font-size: larger;
    text-align: justify;
}

form{
   margin-top:600px;
   margin:auto auto;
   padding: 10px;
   width:360px;
   display:flex;
   flex-direction: column;
   row-gap: 5px;
   font-size:large;
   align-items: center;
   border: 3px solid rgba(2, 2, 246, 0.1);
   border-radius: 10%;
}

.row{
    display: grid;
    width:260px;
    grid-template-columns:30% 70%;
    column-gap: 10px;
    justify-content: left;
    text-align: left;
}

.submit-btn{
    color:antiquewhite;
    background-color: dimgray;
    font-size: 1.3rem;
    width: 70px;
    height:30px;
    border-radius: 3px;
    transition: none;
}

.submit-btn:hover{
    background-color:antiquewhite;
    color: rgb(241, 9, 9);
}

.submit-btn:active{
    background-color:antiquewhite;
    color: dimgray;
    width: 66px;
}

form p{
    color:blue;
    font-size: 1.2em;
}

form input, form label{
    padding-left: 3px;
    font-size: 18px;
    display: block;
    
}

input[type="submit"]{
    font-size: 14px;
}

input::placeholder{
    font-size: 12px;
    color:rgba(81, 53, 192, 0.8);
    padding-left: 3px;
}

form h5{
    text-wrap: nowrap;
}








