  /* BANNER */

  .banner-image {
    
    width: 100%;
    aspect-ratio: 3/1;
  }

  .banner-text {
    position: absolute;
    top: 16vw;
    left: 12vw;
    font-style: italic;
    color: antiquewhite;
  }

  .banner-text p,
  .banner-text-heading {
    font-size: 3vw;
  }

  /* HEADER */

  header {
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 2px solid orangered;
    z-index: 999;

  }

  header nav ul {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 1;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    padding-left: 2vw;
    height: 6vw;
  }

  nav ul li a {
    font-size: 3vw;
    color: antiquewhite;
    font-style: italic;
    border-bottom: 1px solid rgb(105, 164, 17);
    border-top: none;
    border-bottom-right-radius: 40%;
  }

  nav ul li a:hover {
    color: rgb(105, 164, 17);
  }

  nav ul li a:active {
    color: rgb(105, 164, 17);
  }

  #login-logout {
    color: blue;
    font-size: 2.4vw;
  }

  #login-logout {
    color: rgb(156, 156, 252);

  }

  #gall-link a{
    position: fixed; 
    top:20px;
    right:2px;
    font-size: 24px;
    color:lightgreen;
    background-color: brown;
  }

  @media (max-width:700px) {

    
    header nav ul li a {
     
      font-size: 5vw;
    }

    .logo {
      display: none;
    }

    .register a,
    .login a,
    .logout a {
      color: blue;
      font-size: 4vw;
    }

    .banner-text {
      top: 4vw;
      left: 6vw;
      font-style: italic;
      color: antiquewhite;
    }

    .banner-text p,
    .banner-text-heading {
      font-size: 5vw;
      padding: 0.3vw;
    }

    .test-div {
      height: 1800px;

    }

    .test-div img {
      width: 60vw;

    }

    .ultimate-menu{
   position: absolute;
   top: 20px;
   left: 0;
   display: flex;
   flex-direction: column;
   width: 40vw;
   bottom: 0px;
   height: fit-content;
   background-color: rgba(72, 64, 64, 0.8);
    }

    .ultimate-menu li{
      width: 100%;
      font-size: 28px;
      color: antiquewhite;
      border: 1px solid rgb(138, 132, 132);
      text-align: center;
      padding: 0.2em;
    }

    .ultimate-menu li:hover{
      
      font-size: 28px;
      color: rgb(254, 254, 254);
      border: 2px solid rgb(239, 235, 235);
      text-align: center;
      
    }
  }