header {
    
    position: fixed;
    z-index: 999;
    top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(2, 31, 84, 0.2); 
    transition: transform 2s ease, height 2s ease;
}

/*nav............................... */

.main-nav {
    display: flex;
    justify-content: center;
}

.nav-ul {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: rgba(20, 67, 155, 0.24);
}

.nav-ul li {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2, 31, 84);
    overflow: hidden;
}

.nav-ul li a {
    color:antiquewhite;
    font-size: 2em;
    background-color: rgb(2, 31, 84);
    padding-bottom: 1em;
}

/*Task bar............................... */

.task-bar {
    z-index: 1;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1em;
    align-items: center;
    border: 1px solid rgb(26, 53, 102);
    background-color: rgb(2, 31, 84);
    padding-inline: 3em;
    padding-block: 1em;

}

.logo-container {

    height: 50px;
    width: 50px;
    border: 1px solid rgb(243, 240, 240);
    border-radius: 50%;
}

.logo {
    height: 100%;
    width: 100%;
    
}

.menu-button{
    margin-block: 1em;
    color:antiquewhite;
    background-color: rgb(74, 74, 126);
    font-size: 1.2em;
    padding-block: 0.2em;
    width:10em;
    border: 1px solid antiquewhite;
    border-radius: 0.6em;
    box-shadow: -0.6em 0.5em rgb(42, 42, 66, 0.2);
    text-align: center;
    transition: transform 2s ease;
    transition: color 1s ease;
}

.menu-button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(101, 101, 168);
}

.menu-button:active{
    color:antiquewhite;
    border: 1px solid antiquewhite;
    box-shadow: -0.4em 0.3em rgba(42, 42, 66, 0.1);
    background-color: rgb(130, 130, 211);
}

.task-bar a{
    color:antiquewhite;

}

/* Animations */
.rotateHide {

    transition: transform 1.2s ease-out, height 2.2s ease-in;
}

.rotateShow {

    transition: transform 2.2s ease-in, height 1.2s ease-out;
}