.link-section {
     width: 90vw;
     border-bottom: 1px solid grey;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     gap: 2em;
     padding-bottom: 15em;
     padding-top: 6em;
}

.link-section div {
     width: 30vw;
     background-color: bisque;
     padding: 20px;
     border: 6px solid rgb(40, 23, 3);
     border-radius: 4px;
     height: fit-content;
}

.link-section div img {
     width: 100%;
}

.home-page{
     font-size: 2em;
     color: rgb(120, 34, 3);
     background-color: darkgray;
     border-radius: 0.2em;
     padding-block: 2em;
     padding-inline: 1em;
     transition: 0.4s ease;
}

.home-page:hover {
     font-size: 2em;
     color: rgb(234, 211, 203);
     border-radius: 0.2em;
}