
.home-page-container{
     padding-top: 3em;
     padding-bottom: 8em;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     align-items: center;
     row-gap: 4em;
     background: linear-gradient(60deg,rgb(175, 164, 164) 50%,white 70%,grey 100%);
}

.home-page-container h1{
     padding-left: 3em;
     font-style: italic;
     color:orangered;
     align-self: flex-start;
 }

 .home-page-container h3{
     padding-left: 2em;
     font-style: italic;
     color:rgb(112, 32, 3);
     align-self: flex-start;
 }

 

.home-page-container div p{
     padding-left: 3em;  
     font-size: 1.6em;
     color:rgb(66, 2, 84);
     font-family:Arial, Helvetica, sans-serif;
     line-height: 2em;
     text-indent: 10px;
     
 }

 

.home-page-container a{
    flex:100%;
    color:rgb(165, 46, 3);
    font-size: 2em;
    text-decoration: underline;
}

.home-page-container a:hover{
     color:orangered;
     font-size: 2em;
     text-decoration: underline;
 }

.grey{
    position: relative;
    width:80vw;
    height:50vw;
}

.image-div{
     position: absolute;
     opacity: 0.5;
     width:24vw;
     z-index:5;
     transition: 1000ms;
}


.image-div:hover{
     opacity: 1;
     z-index:10;
     transition: 1000ms;
}

.image-div:nth-child(1){
     left:4%;
     top:16%;
     rotate:20deg;
}

.image-div:nth-child(2){
   left:18%;
   rotate: 30deg;
}
.image-div:nth-child(3){
     left:40%;
     rotate: -10deg;
}
.image-div:nth-child(4){
     top: 20%;
     left:50%;
}
.image-div:nth-child(5){
     left:70%;
     top:10%;
     rotate:26deg;
}
.image-div:nth-child(6){
     left:26%;
     top:20%;
     rotate:45deg;
}
.image-div:nth-child(7){
     left:70%;
     top:36%;
     rotate:20deg;
}
  
.image-div img{
    
     width:100%;
}

.link-section {
    
    width:90vw;
    border-bottom: 1px solid grey;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    gap:2em;
    padding-bottom: 5em;

}

.link-section div{
  width:40vw;
  background-color:bisque;
  padding: 20px;
  border: 6px solid rgb(40, 23, 3);
  border-radius: 4px;
   
}

.link-section div img{
    width:100%;
}

@media (max-width:700px) {
     .link-section {
    
          width:98vw;
          flex-direction: column;
          flex-wrap: wrap;
          gap:2em;
          padding-bottom: 5em;
          align-items: center;
      
     }

     .link-section div{
          width:80vw;
          background-color:bisque;
          padding: 20px;
          border: 6px solid rgb(40, 23, 3);
          border-radius: 4px;
     }
        
}













