.link-section {
     width: 90vw;
     border-bottom: 1px solid grey;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     gap: 2em;
     padding-bottom: 15em;
     padding-top: 6em;
     transition: transform 2s ease;
}

.link-section div {
     min-width:300px;
     max-width: 600px;
     background-color: bisque;
     padding: 1.8em;
     border: 6px solid rgb(40, 23, 3);
     border-radius: 4px;
     height: fit-content;
     opacity: 0.5;
     transform-origin: top center;
     transition: transform 2.6s ease-out, opacity 1s linear;
}

.link-section div:hover {
     opacity:1;
     transform:rotateZ(3deg) skewY(2deg);
}

.link-section div img {
     width: 100%;
}

.home-page-link{
     color:antiquewhite;
     background-color: rgb(74, 74, 126);
     font-size: 2em;
     padding-block: 0.2em;
     width:10em;
     border: 1px solid antiquewhite;
     border-radius: 0.6em;
     box-shadow: -0.6em 0.5em rgb(42, 42, 66, 0.2);
     text-align: center;
     transition: transform 2s ease;
     transition: color 1s ease;
}

.home-page-link:hover{
     color:rgb(255, 255, 255);
   
     background-color: rgb(101, 101, 168);
}

.home-page-link:active{
     color:antiquewhite;
     border: 1px solid antiquewhite;
     box-shadow: -0.4em 0.3em rgba(42, 42, 66, 0.1);
     background-color: rgb(130, 130, 211);
}

.current-user{
     font-size: 1.2em;
     color: rgb(239, 143, 109);
     align-self: flex-end;
     margin-right: 2em;
}
    


