.image-card{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    width:90vw;
    height:fit-content;
    
    border:1px solid red;
    border-top-right-radius: 6vw;
    border-bottom-left-radius: 6vw;
    
}

.image-card-image-container{
    width:40%;
}

.image-card-image{
    width:100%;
    margin-top:10px;
    max-height: 250px;
    margin: auto;
    
}

.image-card-text-container{
    text-align: center;
    vertical-align: middle;
    width:50%;
    margin-top:10px;
    max-height: 250px;
    margin: auto;
}

/* main :nth-child(2n){
  flex-flow: row-reverse;
} */

.image-card p{
    flex-basis:40%;
}

.image-card p::first-letter {
    -webkit-initial-letter: 1.4;
    initial-letter: 1.4;
}