
.image-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8em;

    height:fit-content;
    width:80vw;

    padding: 3em;

    border:1px solid rgba(188, 186, 186, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.2em;
}

.image-card-image-container{
    display: flex;
    background-color: bisque;
    height:fit-content;
    border: 4px solid brown;
    border-radius: 4px;
    padding: 1.6em;
}

.image-card-image{
    width:100%;
}

.image-captions{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: bisque;
    height:fit-content;
    max-width: 80vw;
    border: 1px solid brown;
    border-radius: 4px;
    padding: 1.6em;
}

.image-name{
    color: orangered;
    font-size: 1.3em;
}

.image-name span{
    color: antiquewhite;
    font-size: 1.4em;
}


.category-icon{
    width:2em;
}

.base{
  font-size: 1.4em;
  color: darkblue;

}

.base span{
    font-size: 1.2em;
    color: brown;
}

.paint{
  font-size: 1.4em;
  color: darkblue;

}

.paint span{
    font-size: 1.2em;
    color:  brown;

}

.gallery-container{
    display:flex;
    flex-direction: column;
    row-gap: 3em;
    align-items: center;
}

.select-label{
    
    font-size:0.2em;
    
}











