main{ 
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    gap:3em;
    align-items: center;
    padding-top: 6vw;
    padding-bottom: 6vw;
   
    background: linear-gradient(60deg,rgb(175, 164, 164) 50%,white 70%,grey 100%);

};







