@import "/styles/01-reset.css";
@import "/styles/02-typography.css";
@import "/styles/03-header.css";
@import "/styles/04-main.css";
@import "/styles/05-footer.css";
@import "/styles/06-media.css";
@import "/styles/07-color-scheme.css";


.site {
    
    display:flex;
    flex-direction: column;
    column-gap: 2em;
}