
header {
    display: block;

}

nav ul{
    list-style: none;
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-left: 0.1em solid rgb(175, 174, 174);
    border-bottom:0.1em solid rgb(203, 202, 202); ;
}

nav ul img{
    max-width: 6em;
}


