header{
    background-color: hsl(143, 18%, 55%);
}

.nav-bar-container{
    /* background-color: hsl(16, 50%, 40%); */
}

li a{
    color: hsl(240, 50%, 50%);
}

h1{
    color:hsl(240, 100%, 25%);
}